* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 15px 0;
  z-index: 1000;
  border-bottom: black 2px solid;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.guests-fav-rooms {
  margin-top: 30px;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.guests-fav-rooms img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.h3-div {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.h1-div {
  display: flex;
  justify-content: center;
}

.grid {
  border: 1px solid;
}
.book-button {
  border-top: 1px black solid;
  border: none;
  color: white;
  background-color: black;
  width: 100%;
  max-height: 100px;
  height: 100px;
  min-height: auto;
  cursor: pointer;
}
.book-button:hover {
  background-color: rgba(0, 0, 0, 0.141);
  color: rgb(10, 7, 7);
  transition: 0.7s;
}

.usp-div {
  display: flex;
  justify-content: center;
}
.USP {
  margin-top: 50px;
}

.info-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-martini-glass {
  font-size: 50px;
}
.son1 {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  border-bottom: 1px black solid;
  column-gap: 10px;
}
.lorem-parag {
  width: 300px;
}
.read-more {
  color: rgb(0, 71, 71);
}
.read-more:hover {
  cursor: pointer;
  text-decoration: underline;
}
.son2 {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  border-bottom: 1px black solid;
  column-gap: 10px;
}
.son3 {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  border-bottom: 1px black solid;
  column-gap: 10px;
}
.son4 {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  border-bottom: 1px black solid;
  column-gap: 10px;
}
.lorem-ipsum {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem-ipsum h3 {
  width: 500px;
  height: auto;
}
.h3info {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.fa-bars {
  color: white;
}

@media screen and (max-width: 768px) {
  .fa-bars {
    color: black;
    cursor: pointer; 
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    position: absolute;
    top: 58px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    display: none;
    flex-direction: column;
  }

  ul.show {
    display: flex;
  }
}
